
* {
  padding: 0px;
  margin: 0px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background-color:#f5f6f7;
  margin: 0 5rem;
}

ol, ul {
	list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
}